<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SYBD.Properties.Settings.Test322ConnectionString"
            connectionString="Host=localhost;Database=Test322;Username=postgres;Password=123456789;Persist Security Info=True"
            providerName="Npgsql" />
        <add name="SYBD.Properties.Settings.internet_shopConnectionString"
            connectionString="Host=localhost;Database=internet_shop;Username=postgres;Password=123456789"
            providerName="Npgsql" />
        <add name="SYBD.Properties.Settings.Internet_shopConnectionString1"
            connectionString="Host=localhost;Database=Internet_shop;Username=postgres;Password=123456789;Persist Security Info=True"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>